rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      let email = request.auth != null && request.auth.token != null && 'email' in request.auth.token ? request.auth.token.email : '';
      return request.auth != null && (email == 'gymadmin@gmail.com' || email == 'itssabujjr@gmail.com');
    }

    match /test/connection {
      allow read: if true;
    }

    match /user_profiles/{userId} {
      allow read, create, update: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow delete: if isAdmin();
      
      match /chats/{messageId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
      }
    }

    match /bookings/{bookingId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (resource.data.userId == request.auth.uid || isAdmin());
    }

    match /plans/{planId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /passes/{passId} {
      allow read: if request.auth != null && (resource.data.userId == request.auth.uid || isAdmin());
      allow create: if request.auth != null && (request.resource.data.userId == request.auth.uid || isAdmin());
      allow update, delete: if request.auth != null && (resource.data.userId == request.auth.uid || isAdmin());
    }

    match /member_logins/{username} {
      allow read, write: if isAdmin();
    }
    
    match /trainers/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /equipments/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /enquiries/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /join_requests/{requestId} {
      allow read: if request.auth != null && (resource.data.userId == request.auth.uid || isAdmin());
      allow create: if request.auth != null;
      allow update, delete: if isAdmin();
    }
  }
}
