rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && (request.auth.uid == '0YvEuJTQlUTq60Bxehxg5z4F1gC3' || (request.auth.token != null && 'email' in request.auth.token && request.auth.token.email == 'gymadmin@gmail.com'));
    }

    match /test/connection {
      allow read: if true;
    }

    match /user_profiles/{userId} {
      allow read, write: if request.auth != null;
      
      match /chats/{messageId} {
        allow read, write: if request.auth != null;
      }
    }

    match /bookings/{bookingId} {
      allow read, write: if request.auth != null;
    }

    match /plans/{planId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /passes/{passId} {
      allow read, write: if request.auth != null;
    }
  }
}
